:root {
  --section-padding-height: clamp(3.75rem, 8vw, 6.25rem);
  --section-padding-width: 16px;
  --default-font-size: clamp(1rem, 3vw, 2rem);
  --container-width: 1280px;
  --container-gap: clamp(3rem, 6vw, 4rem);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: var(--default-font-size);
}

main>section {
  padding: var(--section-padding-height) var(--section-padding-width);
}

div.container {
  width: 100%;
  margin: auto;
  max-width: var(--container-width);
  display: flex;
  flex-direction: column;
  gap: var(--container-gap);
}

input,
textarea {
  font: inherit;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: black;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled,
button[disabled],
input:disabled,
input[disabled] {
  border-color: unset;
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}